body {
    background-color: #111111;
}

.FinalPage {
    display : flex; 
    flex-direction: row;
    justify-content: center;
    font-family: "open sans";
    font-size: 16px;
}

.center-info {
    text-align: center;
    padding: 20px;
}

.title {
    font-weight: 1000;
    font-family: "open sans";
}

.subtitle {
    font-weight: 500;

}