body {
  background-color: #111111;
  color : white;
}
.homePage {
 background-color:#111111; 
 color : white; 
 font-family: "open sans";
 text-align: center;
 margin-top: 100px;;
 font-size: 16px;
}

.input {
  margin: 12px;
  padding: 8px 15px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  font-weight: bold; 

}


.inputButton {
  display: flex;
  border-radius: 3px;
  border: 1px solid transparent;
  justify-content: center;
  background-color: #de4c4f; 
  color: white;
  border: none;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer; 
  margin-top: 15px;

}