

.navbar {
  padding: 1rem;
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
}

.navbar img {
  width: 60px;
  height: auto;
  margin-right: 1rem;
}

.navbar a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar a:hover {
  color: brown;
  text-decoration: none;
}



.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.product-box {
  box-sizing: border-box;
  width: 300px; 
  border: 1px solid #ececec; 
  margin: 12px; 
  padding: 12px; 
}


.product-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.product-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}


.product-price {
  font-size: 16px;
  color: green; 
}